.flags{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(17rem, 1fr));
    gap: 2.5rem;
    padding-bottom: 2rem;
    // border: $border;

    .card{
        // flex: 1 1 15rem;
        // border: $border;
        box-shadow: 0px 0px 6px rgb(191, 188, 188);
        border-radius: 7px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background-color: white;
        overflow: hidden;
        cursor: pointer;

        &:hover{
            transition: linear .2s ;
            transform: scale(1.02);}

        .image{
            width: 100%;
            // border: $border;
            height: 11rem;
           
            img{

                width: 100%;
                height: 100%;
            }
        }
        .detail{
            width: 100%;
            padding: .5rem 1rem;
            line-height: 1.2;
            font-size: smaller;
            // width: 40px;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space:nowrap;
           
            // h2{
            //     text-overflow:clip;
            //     // white-space:;
            // }
            span{
                font-weight: 800;
            }

        }

    }

}